
<div class="container">
  </br>
<h1>Stocks</h1>

<%= form_tag root_path, :method => 'POST' do %>
  <%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 30 %>&nbsp;
  <%= submit_tag 'Lookup', class: 'btn btn-secondary'%>
<% end %>
</br>


<% if @nothing %>
  <%= @nothing %>
<% end %>
<% if @stock %>
  <%= @stock.company_name %>
<% elsif !@stock %>
  <%= @error %>
<% end %>
<div class="blank-space"></div>
</div>
